div#stage {
    position: absolute;
    top: 150px;
    bottom: 50px;
    width: 100%;
}

.avatar {
    display: inline-block;
}

.holding {
    border: solid 2px green;
}

#controls > fieldset {
    vertical-align: top;
    display: inline-block;
}

#avatarSelector > img {
    width: 50px;
}

#connectionStatus.good {
    color: green;
}

#connectionStatus.poor {
    color: orange;
}

#connectionStatus.bad {
    color: red;
}