#limit_req_zone $binary_remote_addr zone=limitone:10m rate=10r/s;
#limit_req_zone $binary_remote_addr zone=limittwo:10m rate=5r/s;

server {
        server_name _;
        listen 80;
        #rewrite ^ https://devapp1.upstage.org.nz$request_uri? permanent;
#}

#server {
#        server_name devapp1.upstage.org.nz;
#        listen 443 ssl;
#        ssl_dhparam /etc/nginx/ssl/dhparam.pem;
#        ssl_ecdh_curve secp384r1;
#        ssl_certificate /etc/letsencrypt/live/app1.upstage.org.nz/fullchain.pem;
#        ssl_certificate_key /etc/letsencrypt/live/app1.upstage.org.nz/privkey.pem;

#        ssl_protocols TLSv1.2 TLSv1.3;
#        #ssl_protocols TLSv1.3;
#        ssl_ciphers ECDHE-RSA-AES256-GCM-SHA512:DHE-RSA-AES256-GCM-SHA512:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384;

#        ssl_prefer_server_ciphers on;
#        ssl_session_cache shared:SSL:10m;

        set_real_ip_from  10.0.0.0/8;
        set_real_ip_from  172.16.0.0/12;
        set_real_ip_from  192.168.0.0/16;
        real_ip_header    X-Forwarded-For;

        #security directives
        #server_tokens off;
        #add_header X-Frame-Options SAMEORIGIN;
        #add_header X-Content-Type-Options nosniff;
        #add_header X-XSS-Protection "1; mode=block";
        #add_header Content-Security-Policy "default-src 'self'; script-src 'self' https://s3.amazonaws.com https://app.hellosign.com https://www.google.com https://www.gstatic.com; img-src 'self' data:; style-src 'self' 'unsafe-inline'; font-src 'self' data:; connect-src 'self' https://apis.google.com; frame-src https://app.hellosign.com https://www.google.com; object-src 'none'";
        #add_header Content-Security-Policy "default-src 'self'; script-src 'self' https://www.google.com https://www.gstatic.com; img-src 'self' data:; style-src 'self' 'unsafe-inline'; font-src 'self' data:; connect-src 'self' https://apis.google.com; frame-src https://www.google.com; object-src 'none'";

        add_header Referrer-Policy "no-referrer";

        client_body_in_file_only clean;
        client_body_buffer_size 32K;

        client_max_body_size 300M;

        sendfile on;
        send_timeout 300s;

        location /V4.0/ui {
            #limit_req zone=limitone burst=20 nodelay;
            #auth_basic           "Enter password.";
            #auth_basic_user_file /etc/nginx/htpasswd;
            alias /home/upstage/mobilise/ui/dashboard/dist/;
            try_files $uri $uri/ /V4.0/ui/index.html;
        }

       location /V4.0/static {
            #limit_req zone=limitone burst=20 nodelay;
            #auth_basic           "Enter password.";
            #auth_basic_user_file /etc/nginx/htpasswd;
            alias /home/upstage/mobilise/ui/static;
            expires off;
        }

        location /V4.0 {
            #limit_req zone=limitone burst=20 nodelay;
            uwsgi_pass unix:///home/upstage/uwsgi_sockets/upstage.socket;
            uwsgi_read_timeout 1800s;
            uwsgi_send_timeout 900s;
            uwsgi_ignore_client_abort on;
            include uwsgi_params;
            uwsgi_hide_header       Content-Security-Policy;
            uwsgi_hide_header       X-Content-Security-Policy;
        }
}
