fastapi
uvicorn
ariadne
sqlalchemy
asyncpg
databases
python-dotenv
alembic 
cryptography
sentry_sdk
fastapi_global_variable
psycopg2
typing_inspect
pydash
ruff
pyjwt
fastapi_exception
fastapi_pagination
email-validator
pymongo
coverage
paho-mqtt          
