// Import Bulma's core
@import "~bulma/sass/utilities/_all";

$text: $black;
$text-strong: $black;
// Set your colors
$primary: #007011;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #007011;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Visual Identity
$radius: 0;
$control-radius: 0;
$card-radius: 0;
$panel-radius: 0;
$tabs-toggle-link-radius: 0;
$control-shadow: 0 0 0 1px black;
$border-color: #363636;
$button-hover-border-color: $border-color;
$navbar-dropdown-radius: none;
$navbar-dropdown-border-top: none;
$navbar-item-hover-background-color: none;
$modal-card-head-radius: 0;
$modal-card-foot-radius: 0;
$modal-card-head-padding: 15px;
$card-shadow: $control-shadow;
$panel-shadow: $control-shadow;
$panel-item-border: none;
$panel-heading-background-color: transparent;
$tabs-toggle-link-active-background-color: transparent;
$tabs-toggle-link-active-color: $black;
$tabs-toggle-link-active-border-color: transparent;
$dropdown-content-padding-top: 0;
$dropdown-content-padding-bottom: 0;
$dropdown-content-shadow: $control-shadow;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~bulma-slider";
@import "~bulma-switch";