@import "./mixins";
@import "./bulma";

$green-bar: 10px solid $primary;
nav {
  a {
    color: $black;

    &.router-link-exact-active {
      font-weight: bold;
      color: $primary;
    }
  }
}
.button {
    &:not(.no-shadow):hover {
        @include boxShadow;
    }
    &:not(.is-large) .icon {
        width: 16px !important;
        height: 16px !important;
    }
}
.card, .panel {
    border-top: $green-bar
}
.panel-body {
    overflow: visible !important;
    .button{
        text-align: left;
        border: none;
        &:hover {
            border: 1px solid $border-color;
            z-index: 100;
        }
    }
}
.panel-heading {
    overflow: visible !important;
}
.tag {
    box-shadow: 3px -3px 0 0 $black;
}
#topbar {
    border-top: none;
}
// Desktop only css
@media screen and (min-width: 1024px) {
    .navbar-start {
        flex: auto;
        justify-content: center !important;
    }
    .navbar-item {
        margin: 8px 12px;
        padding: 0 20px !important;
        justify-content: center;
        text-transform: uppercase;
    }
    .vertical-divider {
        width: 8px;
        height: 8px;
        background-color: $primary;
        border-radius: 100%;
        margin: auto 0;
    }
    a.navbar-item:hover, .navbar-item.is-active, .navbar-item.is-hoverable:focus, .navbar-item.is-hoverable:focus-within, .navbar-item.is-hoverable:hover {
        width: 200px;
        &:hover {
            @include boxShadow;
            border: 1px solid $border-color;
        }
    }
    .navbar-dropdown {
        width: 100%;
        padding: 0 !important;
        border: 1px solid $border-color;
        top: calc(100% + 1px) !important;
        left: -1px !important;
        width: calc(100% + 2px) !important;
        a.navbar-item {
            margin: 0;
            padding: 8px 0 !important;
            justify-content: center;
            border-bottom: 1px solid $border-color;
            &:last-child {
                border-bottom: none;
            }
        }
    }
}