blockquote.bubble { 
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: 100% 100%;
    text-align: center;
    line-height: 1em;
    min-width: min-content;
    padding-left: calc(5% + 5px);
    padding-right: calc(5% + 5px);
    padding-top: calc(10% - 5px);
    padding-bottom: 20%;
    margin-top: -80%;
    transform: translateX(-50%);
}
blockquote.speak {
    background-image: url(../assets/speak.svg);
}
blockquote.think {
    background-image: url(../assets/think.svg);
    font-style: italic;
}
blockquote.shout {
    background-image: url(../assets/shout.svg);
    font-weight: bold;
}