.ant-popover-inner-content {
  padding: 0;
}
.ant-popconfirm {
  .ant-popover-inner-content {
    padding: 12px 16px;
  }
}
.ant-table {
  border-radius: 0.375rem;
}
.mb-0 {
  margin-bottom: 0 !important;
}