body {
  background-color: #909090;
  overflow: hidden;
}

nav p {
  padding-left: 0.3em;
}

.img-adapt {
  width: 100%;
}

main {
  background-color: #000;
  width: calc(100vw - 10px);
  height: calc(100vh - 10px);
  text-align: left;
}

#stage {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #000;
}

#menu {
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 5px;
  width: calc(10vw - 10px);
  height: calc(100vh - 22px);
  color: #030303;
  background-color: #b7b7b7;
  text-align: left;
}

nav p {
  height:2.74em;
}

nav h6 {
  font-weight:bold;
}

.layer .alignoption {
  display:flex;
  align-item:center;
  justify-content: center;
  flex-wrap:nowrap;
  color:yellow;
  
}

.layer {
}

#chat {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 5px;
  padding: 5px;
  width: 20%;
  height: calc(100vh - 32px);
  color: #f0f0f0;
  background-color: #363636;
  text-align: left;
  border: 1px solid #f0f0f0;
}

#chat p {
  padding-left: 0.3em;
}

