# This is a basic workflow to help you get started with Actions

name: DEVAPP1 CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or approved pull request on R1-2021 branch
  push:
    branches: [Monteiths-2.1.0]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: SSH Remote Commands
        # You may pin to the exact commit or the version.
        # uses: appleboy/ssh-action@1d1b21ca96111b1eb4c03c21c14ebb971d2200f6
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.DEVAPP1_HOST }}
          username: ${{ secrets.DEVAPP1_USERNAME }}
          key: ${{ secrets.DEVAPP1_KEY }}
          port: ${{ secrets.DEVAPP1_PORT }}
          script: |
            cd /home/upstage/upstage/dashboard/
            git fetch
            git checkout Monteiths-2.1.0
            git pull
            yarn
            yarn build:dev
            cd /home/upstage/upstage/studio/
            yarn
            yarn build:dev
            systemctl restart upstage.service
            systemctl restart event_archive.service
            chown -R upstage:upstage /home/upstage/upstage
